h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 100px;
    color: blueviolet;
}

h3{
    font-style: italic;
    color: cadetblue;
}
#enrojo
{
    color: red;
}